<div class="debug socialMediaContainer" itemscope itemtype="http://schema.org/Person" role="navigation">
  <h4 class="sr-only">Social Media Navigation</h4>
  <a class="socialMediaContainerLink" href="mailto:downeydillon@gmail.com" itemprop="email">
    <%= image_tag("social-icons/gmail-64x64.png", width:"64", height:"64", alt:"Gmail link icon", class:"gmail-icon icon") %>
  </a>
  <a class="socialMediaContainerLink" href="https://github.com/downeyd27" itemprop="url">
    <%= image_tag("social-icons/github-64x64.png", width:"64", height:"64", alt:"Github link icon", class:"github-icon icon") %>
  </a>
  <a class="socialMediaContainerLink" href="https://www.linkedin.com/in/dillondowney" itemprop="url">
    <%= image_tag("social-icons/linkedin-64x64.png", width:"64", height:"64", alt:"Linkedin link icon", class:"linkedin-icon icon") %>
  </a>
</div>
