.debug { outline: 1px solid red; }
h1,h2,h3,p,div,span,section,figure,img,ul,li,a,footer,nav {
  @extend .debug;
 }

.btn {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  &:hover { box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

html {
  height: 100%;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightgrey;
}

.siteContent {
  flex: 1;
}

h1, h2 {
  letter-spacing: 1px;
}

h1, h2, h3 {
  text-align: center;
  background-color: lightgrey;
  border: 1px solid black;
  padding: .4em .4em;
  font-family: serif;
}

p {
  margin: 0.5em 25px;
  font-size: 1.2em;
  color: black;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  //&:visited { color: #0c0 }
  &:link    { color: #c00; }
  &:hover   { color: #00c }
  &:active  { color: #ccc }
}


// NAVBAR CSS

nav {
  background-color: grey;
  border-bottom: 1px solid black;
  box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.75);
  font-size: 1.5em;
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 0;
  }
  a {
    @extend .btn;
  }
}
// Media Queries
@media screen and (min-width: 1001px) {

}

@media screen and (max-width: 1000px) and (min-width: 700px) {

}

@media screen and (max-width: 699px) and (min-width: 520px) {

}

@media screen and (max-width: 520px) {
  .navContainer {
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }

}
/* Medium screens */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
  .navContainer {

  }
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  img {
    margin: 4px 0 0 0;
  }
}

footer {
  border-top: 1px solid black;
  box-shadow: 0px -2px 7px 0px rgba(50, 50, 50, 0.75);
  background-color: grey;
}

// FLASH MESSAGE CSS
@mixin border_and_background($borderColor, $backgroundColor) {
  border: solid 4px $borderColor;
  background-color: $backgroundColor;
}

.flash_message {
  font-size: 2em;
  color: $black;
  font-weight: bold;
  margin: 20px;
  .flash_error {
    @include border_and_background($errorBorder, $error)
  }
  .flash_success {
    @include border_and_background($successBorder, $success)
  }
  .flash_notice {
    @include border_and_background($noticeBorder, $notice)
  }
  p {
    font-size: 110%;
    margin: 15px 0;
  }
}
