.debug { outline: 1px solid red; }
h1,h2,h3,p,div,span,section,figure,img,ul,li,a,footer,nav {
  @extend .debug;
 }

.btn {
  background-color: lightgrey;
  border: 1px solid $black;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  &:hover { box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

body {
  background-color: lightgrey;
}

h1, h2 {
  letter-spacing: 1px;
}

h1, h2, h3 {
  text-align: center;
  background-color: lightgrey;
  border: 1px solid $black;
  padding: .4em .4em;
  font-family: serif;
}

p {
  margin: 0.5em 25px;
  font-size: 1.2em;
  color: $black;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  color: $black;
  text-decoration: none;
  //&:visited { color: #0c0 }
  &:link    { color: #c00; }
  &:hover   { color: #00c }
  &:active  { color: #ccc }
}

// NAVBAR CSS

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border-bottom: 1px solid $black;
  box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.75);
  font-size: 1.5em;
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
  }
  a {
    @extend .btn;
  }
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  img {
    margin: 4px 0 0 0;
  }
}

footer {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $black;
  box-shadow: 0px -2px 7px 0px rgba(50, 50, 50, 0.75);
  background-color: grey;
}

// FLASH MESSAGE CSS
.flashMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.flash_message {
  font-size: 2em;
  color: $black;
  z-index: 999;
  /*position: fixed;*/
  font-weight: bold;
  width: 96%;
  margin: 20px;
  .flash_error {
    border: solid 4px $errorBorder;
    background-color: $error;
  }
  .flash_success {
    border: solid 4px $successBorder;
    background-color: $success;
  }
  .flash_notice {
    border: solid 4px $noticeBorder;
    background-color: $notice;
  }
  p {
    font-size: 110%;
    margin: 15px 0;
  }
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navContainer {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navContainer {
    flex-direction: column;
    align-items: center;
  }
}
