<nav>
  <h2 class="sr-only">Main Navigation</h2>

  <%= link_to "Home", root_path %>
  <ul>
    <li>
      <%= link_to "Contact", "#" %>
    </li>
    <li>
      <%= link_to "About", "#" %>
    </li>
  </ul>
</nav>
