<nav>
  <h2 class="sr-only">Main Navigation</h2>

  <%= link_to "Home", root_path %>
  <ul>
    <li>
      <%= link_to "Contact", "https://downeyd27.github.io/blog/blog-index.html",
      target: "blank" %>
    </li>
    <li>
      <%= link_to "About", "https://resume.creddle.io/resume/1rktq4ubpei" %>
    </li>
  </ul>
</nav>
